:root {
    font-family: 'Maple Hand', '微软雅黑', sans-serif;
    font-size: 14px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 50px auto;
    width: 45%;
    user-select: none;
}

/****************************************************
*                  标题和提示信息                   * 
****************************************************/
.title {
    margin-bottom: 15px;

    font-size: 2.5rem;
    position: relative;
}

.alert {
    position: relative;
    padding: 0.5rem 1.2rem;
    margin-bottom: 15px;
    border: 2px solid transparent;

    font-size: 1.5rem;

    background-color: rgb(230, 247, 255);
    color: rgb(24, 144, 255);
    border-color: rgb(145, 213, 255);
}

.alert-error {
    background-color: rgb(255, 242, 240);
    color: rgb(255, 77, 79);
    border-color: rgb(255, 204, 199);
}

.alert-success {
    background-color: rgb(246, 255, 237);
    color: rgb(82, 196, 26);
    border-color: rgb(183, 235, 143);
}

/****************************************************
*                     导航栏                        * 
****************************************************/
nav ul {
    margin: 0;
    padding: 0;
    display: flex;

    list-style: none;
    background-color: black;
}

nav li a {
    display: block;
    padding: 1rem 1.5rem;
    color: white;

    text-decoration: none;
    font-size: 1.5rem;
}

nav li a:hover {
    background-color: rgba(131, 131, 131, 0.5);
}

.log-btn {
    margin-left: auto;
}

/****************************************************
*                   添加电影表单                    * 
****************************************************/
.add-form {
    display: flex;
    border: 2px solid black;
}

.add-form input {
    width: 40%;
    padding: 1rem;
    border: none;
    outline: none;
    border-right: 2px solid black;

    font-family: inherit;
    font-size: 1.4rem;
}

.add-form .add-btn {
    background-color: white;
    color: black;

    width: 20%;
    padding: 5px;
    border: none;

    text-decoration: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.add-form .add-btn:hover {
    background-color: gray;
    color: white;
}

/****************************************************
*                    设置表单                       * 
****************************************************/
.setting-form input {
    width: 80%;
}

/****************************************************
*                    电影列表                       * 
****************************************************/
.movie-list {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 2px solid #333;
    border-top: none;
}

.movie-list li {
    display: flex;
    align-items: center;

    padding: 1rem;
    border-bottom: 1px solid #666;
    font-size: 1.4rem;
}

.movie-list li:last-child {
    border-bottom: none;
}

.movie-desc {
    margin-right: auto;
}

/****************************************************
*                    三个图标                       * 
****************************************************/
.icon {
    width: 1.6rem;
    margin: 0.2rem 0.5rem 0;
    cursor: pointer;
}

.icon:hover {
    transform: scale(1.2);
}

.del {
    display: none;
}

/****************************************************
*                    留言板                         * 
****************************************************/
.comment-form {
    height: 120px;
}

.comment-area {
    width: 90%;
    padding: 1.5rem;
    border: none;
    outline: none;
    resize: none;

    border-right: 2px solid black;
    font-family: inherit;
    font-size: 1.5rem;
}

.comment-list {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 2px solid #333;
    border-top: none;
}

.comment-list li {
    display: flex;
    flex-direction: column;

    padding: 1rem;
    border-bottom: 1px solid #666;
    font-size: 1.4rem;
}

.comment-list li:hover {
    background-color: rgb(243, 243, 243);
}

.comment-name {
    font-size: 1.8rem;
    font-weight: bold;
}

.comment-index {
    color: rgb(129, 129, 129);
    font-size: 1.2rem;
}

.comment-body {
    margin-top: 8px;
    overflow-wrap: break-word;
}

/****************************************************
*                    页脚信息                       * 
****************************************************/
footer {
    margin-top: 1.5rem;
    text-align: center;
    font-size: 1.4rem;
}

footer a {
    color: rgb(0, 112, 192);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/****************************************************
*                    @media                         * 
****************************************************/
@media (max-width: 1024px) {
    :root {
        font-size: 12px;
    }

    body {
        width: 80%;
    }
}