:root {
    font-family: 'Maple Hand', sans-serif;
    font-size: 14px;
}

* {
    box-sizing: border-box;
}

body {
    margin: auto;
    width: 40%;
    user-select: none;
}

/****************************************************
*                  标题和提示信息                   * 
****************************************************/
.title {
    font-size: 2.5rem;
    position: relative;
}

.alert {
    position: absolute;
    right: 0;
    bottom: 0;

    color: green;
    font-size: 1.5rem;
}

.alert-error {
    color: red;
}

/****************************************************
*                     导航栏                        * 
****************************************************/
nav ul {
    margin: 0;
    padding: 0;
    display: flex;

    list-style: none;
    background-color: black;
}

nav li a {
    display: block;
    padding: 1rem 1.5rem;
    color: white;

    text-decoration: none;
    font-size: 1.5rem;
}

nav li a:hover {
    background-color: rgba(131, 131, 131, 0.5);
}

.log-btn {
    margin-left: auto;
}

/****************************************************
*                   添加电影表单                    * 
****************************************************/
.add-form {
    display: flex;
    border: 2px solid black;
}

.add-form input {
    width: 40%;
    padding: 1rem;
    border: none;
    outline: none;
    border-right: 2px solid black;

    font-family: inherit;
    font-size: 1.2rem;
}

.add-form .add-btn {
    background-color: white;
    color: black;

    width: 20%;
    padding: 5px;
    border: none;

    text-decoration: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.add-form .add-btn:hover {
    background-color: gray;
    color: white;
}

/****************************************************
*                    设置表单                       * 
****************************************************/
.setting-form input {
    width: 70%;
}

.setting-form .add-btn {
    width: 30%;
}

/****************************************************
*                    电影列表                       * 
****************************************************/
.movie-list {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 2px solid #333;
}

.movie-list li {
    display: flex;
    align-items: center;

    padding: 1rem;
    border-bottom: 1px solid #666;
    font-size: 1.2rem;
}

.movie-list {
    border-top: none;
}

.movie-list li:last-child {
    border-bottom: none;
}

.movie-desc {
    margin-right: auto;
}

.btn {
    color: white;

    margin-left: 10px;
    padding: 4px 6px;
    border-radius: 6px;

    text-decoration: none;
    font-family: inherit;
    font-size: 1.3rem;

    outline: none;
    border: none;
    cursor: pointer;
}

.edit-btn {
    background-color: rgb(0, 112, 192);
}

.del-btn {
    background-color: rgb(187, 62, 62);
}

.douban {
    background-color: rgb(0, 119, 17);
}

/****************************************************
*                    页脚信息                       * 
****************************************************/
footer {
    margin-top: 1.5rem;
    text-align: center;
    font-size: 1.4rem;
}

footer a {
    color: rgb(0, 112, 192);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/****************************************************
*                    @media                         * 
****************************************************/
@media (max-width: 1024px) {
    body {
        width: 80%;
    }
}