* {
    box-sizing: border-box;
}

body {
    margin: 0;

    width: 40%;
    max-height: 100%;
    overflow: auto;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: 'Maple Hand', sans-serif;
}

.title {
    display: inline-flex;
    font-size: 2rem;
}

.logo {
    width: 40px;
    margin-right: 10px;
}

.movie-list {
    padding: 0;
    list-style: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.movie-list li {
    padding: 1rem 1rem;
    border-bottom: 1px solid #ddd;
    font-size: 1.2rem;
}

.movie-list li:last-child {
    border-bottom: none;
}

.movie-list li:hover {
    background-color: rgb(0, 112, 192, 0.2);
}

.sddl {
    display: block;
    margin: 1.5rem auto;
    height: 120px;
}

footer {
    color: rgb(88, 88, 88);
    text-align: center;
}

footer a {
    color: rgb(0, 112, 192);
    text-decoration: none;
}

@media (max-width: 768px) {
    body {
        width: 80%;
    }
}