* {
    box-sizing: border-box;
}

body {
    margin: 0;

    width: 40%;
    max-height: 100%;
    overflow: auto;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: 'Maple Hand', sans-serif;
}

.title {
    color: rgb(0, 112, 192);
    font-size: 2.2rem;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #333;
}

nav li a {
    display: block;
    padding: 1rem;
    color: white;

    text-decoration: none;
    font-size: 1.5rem;
}

.movie-list {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 2px solid #333;
}

.movie-list li {
    display: flex;
    justify-content: space-between;

    padding: 1rem;
    border-bottom: 1px solid #666;
    font-size: 1.2rem;
}

.movie-list li:last-child {
    border-bottom: none;
}

.movie-list li:hover {
    background-color: rgb(0, 112, 192, 0.1);
}

.douban {
    background-color: rgb(0, 119, 17);
    color: white;
    margin-left: 10px;
    padding: 4px 6px;
    border-radius: 6px;

    text-decoration: none;
    font-size: 1.3rem;
}

footer {
    margin-top: 1.5rem;
    text-align: center;
    font-size: 1.4rem;
}

footer a {
    color: rgb(0, 112, 192);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    body {
        width: 80%;
    }
}