* {
    box-sizing: border-box;
}

body {
    margin: auto;
    width: 40%;

    font-family: 'Maple UI', sans-serif;
    user-select: none;
}

.title {
    font-size: 2.5rem;
    position: relative;
}

.alert {
    position: absolute;
    right: 0;
    bottom: 0;

    color: green;
    padding: 10px;
    border-radius: 5px;

    font-size: 1.5rem;
}

.alert-error {
    color: red;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #333;
}

nav li a {
    display: block;
    padding: 1rem;
    color: white;

    text-decoration: none;
    font-size: 1.5rem;
}

form {
    display: flex;
    border: 2px solid black;
}

input {
    width: 40%;
    padding: 1rem;
    border: none;
    outline: none;
    border-right: 2px solid black;

    font-family: inherit;
    font-size: 1.2rem;
}

.btn {
    background-color: white;
    color: black;

    width: 20%;
    padding: 5px;
    border: none;

    text-decoration: none;
    cursor: pointer;
}

.btn:hover {
    background-color: black;
    color: white;
}

.movie-list {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 2px solid #333;
}

.movie-list li {
    display: flex;
    align-items: center;

    padding: 1rem;
    border-bottom: 1px solid #666;
    font-size: 1.2rem;
}

.movie-list {
    border-top: none;
}

.movie-list li:last-child {
    border-bottom: none;
}

.movie-desc {
    margin-right: auto;
}

.douban {
    background-color: rgb(0, 119, 17);
    color: white;
    margin-left: 10px;
    padding: 4px 6px;
    border-radius: 6px;

    text-decoration: none;
    font-size: 1.3rem;
}

footer {
    margin-top: 1.5rem;
    text-align: center;
    font-size: 1.4rem;
}

footer a {
    color: rgb(0, 112, 192);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

@media (max-width: 1024px) {
    body {
        width: 80%;
    }
}