<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{ user.name }} の 电影片单 </title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% endblock head %}
</head>

<body>
    <h1 class="title">
        {{ user.name }} の 电影片单
    </h1>

    <!-- 提示信息 -->
    {% for message in get_flashed_messages(True) %}
    {% if message[0] == 'error' %}
    <div class="alert alert-error">
        {{ message[1] }}
    </div>
    {% elif message[0] == 'success' %}
    <div class="alert alert-success">
        {{ message[1] }}
    </div>
    {% else %}
    <div class="alert">
        {{ message[1] }}
    </div>
    {% endif %}
    {% endfor %}

    <nav>
        <ul>
            <li><a href={{ url_for('index') }}>主页</a></li>

            {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('setting') }}">设置</a></li>
            <li class="log-btn"><a href="{{ url_for('logout') }}">登出</a></li>
            {% else %}
            <li class="log-btn"><a href="{{ url_for('login') }}">登录</a></li>
            {% endif %}
        </ul>
    </nav>

    {% block content %}
    {% endblock content %}

    <footer>
        <small>
            &copy; 2022
            <a href="https://github.com/mancuoj/watchlist">GitHub</a>
        </small>
    </footer>
</body>

</html>