{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='comment.css') }}">
{% endblock head %}


{% block content %}
{% if current_user.is_authenticated %}
<form class="add-form comment-form" method="POST">
    {{ form.csrf_token }}
    {{ form.text(class='comment-area', placeholder=_('说点什么吧...')) }}
    {{ form.submit(class="add-btn comment-btn", value=_("发送")) }}
</form>
{% endif %}

<ul class="comment-list">
    {% for c in comments %}
    <li>
        <div>
            <span class="comment-name"> {{ c.name }} </span>
            <span class="comment-index"> #{{ c.id }} </span>
        </div>

        <div class="comment-body"> {{c.text}} </div>
    </li>
    {% endfor %}
</ul>
{% endblock content %}