{% extends 'base.html' %}

{% block content %}
{% if current_user.is_authenticated %}
<form class="add-form comment-form" method="POST">
    {{ form.csrf_token }}
    {{ form.text(class='comment-area', placeholder='说点什么吧...') }}
    <input class="add-btn comment-btn" type="submit" name="submit" value="发送">
</form>
{% endif %}

<ul class="comment-list">
    {% for c in comments %}
    <li>
        <div>
            <span class="comment-name"> {{ c.name }} </span>
            <span class="comment-index"> #{{ c.id }} </span>
        </div>

        <div class="comment-body"> {{c.text}} </div>
    </li>
    {% endfor %}
</ul>
{% endblock content %}