{% extends 'base.html' %}

{% block content %}

<!-- 在模板中可以直接使用 current_user 变量 -->
{% if current_user.is_authenticated %}
<form class="add-form" method="post">
    <input type="text" name="title" autocomplete="off" placeholder="电影名称" required>
    <input type="text" name="year" autocomplete="off" placeholder="电影年份" required>
    <input class="add-btn" type="submit" name="submit" value="添加">
</form>
{% endif %}


<ul class="movie-list">
    {% for movie in movies %}
    <li>
        <span class="movie-desc">
            {{ movie.title }} - {{ movie.year }}
        </span>

        {% if current_user.is_authenticated %}
        <a href="{{ url_for('edit', movie_id=movie.id) }}">
            <img class="icon" src="{{ url_for('static', filename='images/edit.png') }}" alt="edit">
        </a>

        <form class="del-form" method="post" action="{{ url_for('delete', movie_id=movie.id) }}">
            <label for="del">
                <img class="icon" src="{{ url_for('static', filename='images/del.png') }}" alt="del">
            </label>
            <input id="del" type="submit" name="delete" onclick="return confirm('确定删除？')">
        </form>
        {% endif %}

        <a target="_blank" href="https://search.douban.com/movie/subject_search?search_text={{ movie.title }}">
            <img class="icon" src="{{ url_for('static', filename='images/douban.png') }}" alt="douban">
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock content %}