{% extends 'base.html' %}

{% block content %}
<form class="add-form" method="post">
    <input type="text" name="title" autocomplete="off" placeholder="电影名称" required>
    <input type="text" name="year" autocomplete="off" placeholder="电影年份" required>
    <input class="add-btn" type="submit" name="submit" value="添加">
</form>

<ul class="movie-list">
    {% for movie in movies %}
    <li>
        <span class="movie-desc">
            {{ movie.title }} - {{ movie.year }}
        </span>

        <a class="btn edit-btn" href="{{ url_for('edit', movie_id=movie.id) }}">修改</a>

        <form class="del-form" method="post" action="{{ url_for('delete', movie_id=movie.id) }}">
            <input class="btn del-btn" type="submit" name="delete" value="删除" onclick="return confirm('确定删除？')">
        </form>

        <a class="btn douban" target="_blank"
            href="https://search.douban.com/movie/subject_search?search_text={{ movie.title }}">
            豆
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock content %}