{% extends 'base.html' %}

<!-- 继承 base.html 的内容，然后重写 content 块中的内容 -->
<!-- 如果想要追加内容，可以使用 {{ super() }} -->
{% block content %}
<ul class="movie-list">
    {% for movie in movies %}
    <li>
        {{ movie.title }} - {{ movie.year }}
        <span>
            <a class="douban" target="_blank"
                href="https://search.douban.com/movie/subject_search?search_text={{ movie.title }}">
                豆
            </a>
        </span>
    </li>
    {% endfor %}
</ul>
{% endblock content %}